body{
    padding: 20px;
}
@font-face{
    font-family: font2;
    src: url(HennyPenny-Regular.ttf);
}

h1 {
    font-family:'Courier New', Courier, monospace ;
    color: #0088dd;
}
h2 {
    color: #0088dd;
    font-family:  "Gill Sans", Arial, sans-serif;
}
.intro>a{
    color: #0088dd;
}
h3 {
    color: #0088dd;
}
.credits {
    float: right;
}
p {
    font-family: 'Galada', cursive;
}
h2+p {
font-family: font2;
}